In [ ]:
#useful step to strip split inputs given

In [1]:
ar_count = int(input())

In [2]:
ar = list(map(int, input().rstrip().split()))

In [3]:
ar

[1, 2, 3, 3, 4, 5, 6, 7, 8]

# Data : 4th Aug 2020

In this series I'll solve all hacker rank python problesm each solution are available in this notebook.

# Introduction

In [3]:
print("Hello, World!")

Hello, World!

In [8]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    if n%2 != 0:
        print("Weird")
    elif (n>2 and n<=5):
        print("Not Weird")
    elif (n>6 and n <=20):
        print("Weird")
    else:
        print("Not Weird")

20
Weird

In [9]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

3
2
5
1
6

In [10]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

4
3
1
1.3333333333333333

In [11]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i*i)

5
0
1
4
9
16

In [23]:
1990/4

497.5

In [25]:
#to check if a year is leap year 
# In the Gregorian calendar, three conditions are used to identify leap years:

# The year can be evenly divided by 4, is a leap year, unless:
# The year can be evenly divided by 100, it is NOT a leap year, unless:
# The year is also evenly divisible by 400. Then it is a leap year.
def is_leap(year):
    leap = False
    
    # Write your logic here
    
    if (year%4 ==0) and (year%100 !=0 or year%400 == 0):
        leap = True

    return leap

year = int(input())
print(is_leap(year))

1900
False

In [26]:
#print continously in a single line ex: n = 3, print like 123
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i, end = "")

5
12345

# Data types

In [ ]:
question

Let's learn about list comprehensions! You are given three integers x,y and z representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i+j+k is not equal to n. Here, . Please use list comprehensions rather than multiple loops, as a learning exercise.

In [29]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    print([[a,b,c] for a in range(x+1) for b in range(y+1) for c in range(z+1) if a+b+c != n])

1
1
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

In [ ]:
question

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [55]:
n = int(input())
arr = map(int, input().split())
x = list(set(arr))
x.sort()
print(x[-2])

5
2 3 6 7 5
6

In [ ]:
18jap.com/MDK-1212

# Data: 8th Aug 2020

# Nested list

In [1]:
matrix = [[0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4]]

In [12]:
matrix = []
for i in range(5):
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)

In [13]:
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [16]:
matrix = [[j for j in range(5)] for i in range(5)]

In [17]:
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Expected Output: flatten_matrix = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flatten_matrix = []

for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        flatten_matrix.append(matrix[i][j])

In [26]:
flatten_matrix

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
flatten_matrix = [val for sublist in matrix for val in sublist]

In [29]:
flatten_matrix

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
flatten_matrix = []
for sublist in matrix: 
    for val in sublist: 
        flatten_matrix.append(val)

In [38]:
flatten_matrix

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
flatten_matrix = [val for sublist in matrix for val in sublist]

In [42]:
flatten_matrix

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]

In [47]:
len('Mercury')

7

In [57]:
flatten_planets = []
for sublists in planets:
    for val in sublists:
        if len(val) <6:
            flatten_planets.append(val)

In [58]:
flatten_planets

['Venus', 'Earth', 'Mars', 'Pluto']

In [61]:
flatten_planets = []

In [62]:
flatten_planets = [val for sublists in planets for val in sublists if len(val) < 6]

In [63]:
flatten_planets

['Venus', 'Earth', 'Mars', 'Pluto']

Hacker rank

In [64]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [77]:
 marksheet = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        marksheet.append([name, score])
    second_highest = sorted(list(set(marks for name, marks in marksheet )))[1]
    print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest]))

Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

In [90]:
second_highest = sorted(list(set(marks for name, marks in students )))[1]
name = [name for name,marks in students if marks == second_highest]

In [87]:
second_highest

37.21

In [91]:
name

['Harry', 'Berry']

In [92]:
print('\n'.join([a for a,b in sorted(students) if b == second_highest]))

Berry
Harry

In [95]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

2
harsha 10 20 30
ravi 30 40 50
ravi

In [98]:
student_marks

{'harsha': [10.0, 20.0, 30.0], 'ravi': [30.0, 40.0, 50.0]}

In [106]:
for student in student_marks:
    if student == query_name:
        print("{0:.2f}".format(sum(student_marks[student])/len(student_marks[student])))

40.00

In [100]:
student_marks['harsha']

[10.0, 20.0, 30.0]

In [101]:
52+56+60

168

In [104]:
float(168/3)

56.0

In [107]:
l = [1,2,3,4,5]

In [108]:
l.insert(17,1)

In [110]:
l.insert(1,17)

In [111]:
l

[1, 17, 2, 3, 4, 5, 1]

In [115]:
args = ["1","2"]

In [116]:
cmd = "("+ ",".join(args) +")"

In [117]:
cmd

'(1,2)'

In [118]:
if __name__ == '__main__':
    N = int(input())
    lst = []
    for _ in range(N):
        sent = input().split()  
        cmd = sent[0]
        args = sent[1:]
        if cmd != 'print':
            cmd += "("+ ",".join(args) +")"
            eval("lst."+cmd)
        else:
            print(lst)

3
insert 0 1
pop 0
append 3

In [120]:
eval("print(77)")

77

In [126]:
hash(tuple(2))

TypeError: 'int' object is not iterable

In [124]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    tup = (integer_list)

2
1 2

In [125]:
tup

In [128]:
t = tuple(1)

TypeError: 'int' object is not iterable

In [131]:
tuple1 = (1, 2)

In [132]:
hash(tuple1)

3713081631934410656